.DS_Store
.lock-wscript
.idea/
.vscode/
*.iml
*.swp
lerna-debug.log
lib-cov
npm-debug.log
.idea/
coverage/
dist/
node_modules/
packages/async-rewriter/lib
packages/build/lib
packages/cli-repl/lib
packages/i18n/lib
packages/service-provider-browser/lib
packages/service-provider-core/lib
packages/service-provider-server/lib
packages/shell-api/lib
packages/transport-browser/lib
packages/transport-server/lib
packages/transport-core/lib
packages/mapper/lib
packages/browser-runtime-core/lib
packages/browser-runtime-electron/lib
bkp