name: "Smoke Test Homebrew install"

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request: # TODO: remove pull_request trigger

jobs:
  smoke-test-homebrew:
    name: Test on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner}}
    strategy:
      matrix:
        runner: [macos-13, macos-14, macos-15]
      fail-fast: false
    steps:
      - name: Install mongosh
        run: brew install mongosh

      - name: Run smoke tests
        run: npx --yes mongodb-runner exec -- sh -c 'env MONGOSH_SMOKE_TEST_SERVER=$MONGODB_URI mongosh --smokeTests'

      - name: Report failure
        # TODO: replace with failure()
        if: ${{ matrix.runner == 'macos-15' }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_MONGOSH_DEVEL_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
        uses: slackapi/slack-github-action@v1.27.0
        with:
          payload: |
            {
              "text": "Homebrew smoke test failed on macOS ${{ matrix.runner }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Homebrew smoke test failed on macOS ${{ matrix.runner }}: <${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ github.job }})|${{ github.run_id }}>"
                  }
                }
              ]
            }
