name: Publish Auxiliary Packages
on:
  # NOTE: avoid using the manual execution unless is the only way to fix some issue,
  # rather retry failed jobs in case of flakes. The manual execution can potentially
  # cause the tags to point to a different commit that the one used to publish
  # the packages
  workflow_dispatch:
  push:
    branches:
      - main
env:
  PUPPETEER_SKIP_DOWNLOAD: "true"

permissions:
  contents: none # We use the github app to checkout and push tags

description: |
  This is a workflow that publishes any unpublished auxiliary packages to NPM. It is triggered
  when we merge the PR created by the bump-auxiliary-packages workflow.

jobs:
  publish:
    if: |
      github.event_name == 'workflow_dispatch' ||
        startsWith(github.event.head_commit.message, 'chore(release): bump packages for auxiliary release')

    runs-on: ubuntu-latest
    environment: Production

    steps:
      - uses: mongodb-js/devtools-shared/actions/setup-bot-token@main
        id: app-token
        with:
          app-id: ${{ vars.DEVTOOLS_BOT_APP_ID }}
          private-key: ${{ secrets.DEVTOOLS_BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v5
        with:
          # don't checkout a detatched HEAD
          ref: ${{ github.head_ref }}

          # this is important so git log can pick up on
          # the whole history to generate the list of AUTHORS
          fetch-depth: "0"
          token: ${{ steps.app-token.outputs.token }}

      - uses: actions/setup-node@v6
        with:
          check-latest: true
          node-version: 24.x

      - name: Install Dependencies
        run: |
          npm ci

      - name: "Publish what is not already in NPM"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
          npm config list
          echo "Publishing packages as $(npm whoami)"
          npm run publish-auxiliary
