# Temporary workflow just to fix currently not pushed tags for our release, will be removed.
name: Push Tags for Auxiliary Packages
on:
  workflow_dispatch:

permissions:
  contents: none # We use the github app to checkout and push tags

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - uses: mongodb-js/devtools-shared/actions/setup-bot-token@main
        id: app-token
        with:
          app-id: ${{ vars.DEVTOOLS_BOT_APP_ID }}
          private-key: ${{ secrets.DEVTOOLS_BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          # don't checkout a detatched HEAD
          ref: ${{ github.head_ref }}

          # this is important so git log can pick up on
          # the whole history to generate the list of AUTHORS
          fetch-depth: "0"
          token: ${{ steps.app-token.outputs.token }}

      - name: "Use Node.js 20"
        uses: actions/setup-node@v4
        with:
          node-version: 20.16.0

      - name: Install npm@10.2.4
        run: npm install -g npm@10.2.4

      - name: Install Dependencies
        run: |
          npm ci

      - name: "Pushing tags..."
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> ~/.npmrc
          npm config list
          npm run tags-auxiliary
