name: Update node.js versions

# Runs nightly and manually
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: none # We use the github app to open a PR

jobs:
  update_generated_files:
    name: Update Node.js versions
    runs-on: ubuntu-latest
    steps:
      - uses: mongodb-js/devtools-shared/actions/setup-bot-token@main
        id: app-token
        with:
          app-id: ${{ vars.DEVTOOLS_BOT_APP_ID }}
          private-key: ${{ secrets.DEVTOOLS_BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          # don't checkout a detached HEAD
          ref: ${{ github.head_ref }}
          token: ${{ steps.app-token.outputs.token }}

      - uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: "npm"

      - name: Install npm@10
        run: |
          npm install -g npm@10

      - name: Bump packages
        run: |
          npm run update-node-js-versions
          npm run update-evergreen-config

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f # 7.0.5
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: "chore: update node.js version"
          branch: ci/update-node-js-versions
          title: "chore: update node.js"
          body: |
            - Update node.js
